<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wickham.android.emailing"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<supports-screens 
		android:anyDensity ="true" 
		android:largeScreens ="true" 
		android:normalScreens ="true" 
		android:smallScreens ="true"/> 

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
		android:uiOptions ="splitActionBarWhenNarrow"
		>
        <activity
            android:name="com.wickham.android.emailing.MainActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

</manifest>