<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wickham.android.pdplayer" 
	android:versionCode="1"
	android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
	
	<application 	android:label="@string/app_name" 
	    			android:theme="@style/AppTheme" >
		<activity 	android:label="@string/app_name" 
		    		android:name="com.wickham.android.pdplayer.PdPlayer"
					android:screenOrientation="portrait" 
					android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service 	android:name="org.puredata.android.service.PdService" />
		<activity 	android:label="Pure Data Preferences"
					android:name="org.puredata.android.service.PdPreferences"
					android:screenOrientation="portrait" />
	</application>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>